:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  max-width: 800px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

.memo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  gap: 24px;
}

.icon {
  padding: 12px;
  border: 1px solid #666;
  border-radius: 12px;
  max-width: 100%; 
  height: auto; 
}

.flipped {
  cursor: pointer;
  transform: scale(0.99);
  transition: transform 0.1s ease;
}

.flipped .icon {
  border: 1px solid #f3fcff;
}

.component-title {
  margin: 10px 0 5px 0;
}

.component-description {
  margin-bottom: 15px;
}

button {
  margin: 10px 10px 10px 0;
  padding: 8px 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

button:focus {
  outline: none;
}

.app-cover {
  text-align: center;
  padding: 20px;
}

.navbar {
  background-color: #333;
  padding: 10px 0;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.cover-content {
  margin-top: 50px;
}

.cover-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cover-content p {
  font-size: 1.2rem;
}

@media (max-width: 768px) { 
  .memo-container {
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto; 
  }
}
